@import "../theme";

* {
  color-scheme: light;
}

:root {
  --background: $foreground;
  --foreground: $background;
  --anchor-color: $blue;
  --anchor-hover-color: $purple;
  --window-gap-color: $current-line;
}
