@import "../theme";

main > #display {
  display: none !important;
  /*
  a {
    &:not(:hover) {
      color: var(--anchor-color);
    }

    &:hover {
      color: var(--anchor-hover-color);
    }
  }

  pre,
  code,
  code * {
    font-family: $monospace-font !important;
  }

  ul > li,
  ol > li {
    &.checked {
      display: list-item;
      list-style-type: "☑  ";
    }
    &.unchecked {
      display: list-item;
      list-style-type: "☐️  ";
    }
  }

  padding: 0.5em;
  grid-area: display;

  * {
    white-space: normal;
    max-width: 100%;
  }
  */
}
