@import "../theme";

main > #nav {
  grid-area: nav;
  @include clickable-list;

  > li {
    cursor: pointer;
  }

  @for $i from 1 through 6 {
    > li.h#{$i} {
      font-size: #{18 - $i}px;
      font-weight: #{max(100, 800 - $i * 200)} !important;
    }
  }
}
