main > #statistics {
  user-select: none;
  grid-area: statistics;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 $gap;
  gap: 32px;
  font-size: 0.8em;

  > * {
    color: $foreground;
    background-color: transparent;
  }

  > .clickable {
    text-decoration: none;
    @include clickable;
  }

  > #repeat-tutorial {
    cursor: help !important;
  }
}
