main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    "toolbar"
    "editor";

  #editor {
    grid-area: editor;
  }

  #toolbar {
    grid-area: toolbar;
  }
}

@import "editor";
@import "toolbar";
