@use "sass:math";

@import "../theme";

$gap: 4px;

main {
  height: calc(100vh - #{2 * $gap});
  width: calc(100vw - #{2 * $gap});
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  gap: $gap;
  margin: $gap;
  grid-auto-flow: row;

  > #nav,
  > #sources,
  > #code,
  > #display {
    height: 100%;
    overflow-y: auto;
    margin: 0;
    border-radius: $radius;
    background-color: var(--background);
    color: var(--foreground);
  }

  > #sources::before {
    mask: url(../image/sources.svg) no-repeat 100% 100%;
  }
  > #nav::before {
    mask: url(../image/title.svg) no-repeat 100% 100%;
  }
  > #display::before {
    mask: url(../image/document.svg) no-repeat 100% 100%;
  }
  > #nav::before,
  > #sources::before,
  > #display::before {
    mask-size: cover;
    width: 1em;
    height: 1em;
    display: inline-block;
    content: "";
    margin: {
      left: $gap;
      top: $gap;
    }
  }
  > #nav:hover::before,
  > #sources:hover::before,
  > #display:hover::before {
    background-color: $green;
  }
  > #nav:not(:hover)::before,
  > #sources:not(:hover)::before,
  > #display:not(:hover)::before {
    background-color: var(--window-gap-color);
  }
}

body[view-mode="both"] > main {
  grid-template-columns: auto 1fr 1fr;
  grid-template-areas:
    "nav code display"
    "sources code display"
    "statistics statistics statistics";
}

body[view-mode="code"] > main {
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "nav code"
    "sources code"
    "statistics statistics";

  > #display {
    display: none;
  }
}

body[view-mode="display"] > main {
  grid-template-columns: auto 1fr;
  grid-template-areas: "nav display" "nav display" "statistics statistics";

  > #code,
  > #sources,
  > #statistics > #cursor {
    display: none;
  }
}

table {
  td,
  th {
    text-align: left !important;
  }
}

@import "code";
@import "display";
@import "nav";
@import "sources";
@import "statistics";
