@import "theme";

::selection {
  background-color: $current-line;
}

@media (prefers-color-scheme: dark) {
  * {
    color-scheme: dark;
  }

  a {
    &:not(:hover) {
      color: $cyan;
    }

    &:hover {
      color: $purple;
    }
  }

  :root,
  body,
  main {
    background-color: $current-line;
  }

  main {
    > #nav,
    > #code,
    > #sources,
    > #display {
      background-color: $background;
      color: $foreground;
    }
  }

  .alert * {
    background-color: $background;
    color: $foreground;

    input {
      border-bottom-color: $foreground;
    }
  }
}

@media (prefers-color-scheme: light) {
  * {
    color-scheme: light;
  }

  a {
    &:not(:hover) {
      color: $blue;
    }

    &:hover {
      color: $purple;
    }
  }

  :root,
  body,
  main {
    background-color: $current-line;
  }

  main {
    > #nav,
    > #code,
    > #sources,
    > #display {
      background-color: $foreground;
      color: $background;
    }
  }

  .alert * {
    background-color: $foreground;
    color: $background;

    input {
      border-bottom-color: $background;
    }
  }
}
