.ce-block__content[data-sources]::after {
  transform: translateY(-0.2em);
  content: "\21E7 References linked to this block";
  color: $current-line;
}

.ce-block__content {
  padding: #{$padding * 0.25} #{$padding * 2};
}

.ce-block--selected .ce-block__content {
  background-color: $current-line;
  border-radius: $rad;
}

.ce-toolbar__settings-btn,
.ce-toolbar__plus {
  background-color: transparent !important;

  &:not(:hover) {
    svg {
      fill: $current-line !important;
    }
  }

  &:hover {
    svg {
      fill: $purple !important;
    }
  }
}

@mixin popup($container, $button, $button-active) {
  #{$container} {
    background-color: $current-line;
    border: {
      width: 2px !important;
      style: solid !important;
      color: $background !important;
      radius: $rad !important;
    }

    #{$button} {
      background-color: $current-line !important;
      border: {
        width: 2px !important;
        style: solid !important;
        color: transparent !important;
        radius: $rad !important;
      }
      svg {
        fill: $background;
      }

      transition: border $timing ease-out, background $timing ease-out;
    }

    #{$button-active} {
      background-color: $background !important;
      border: {
        width: 2px !important;
        style: solid !important;
        color: $purple !important;
        radius: $rad !important;
      }
      svg {
        fill: $purple;
      }
    }
  }
}

@include popup(
  ".ce-settings",
  ".cdx-settings-button, .ce-settings__button",
  ".cdx-settings-button:hover, .ce-settings__button--focused, .ce-settings__button:hover"
);
.ce-settings--opened {
  z-index: 1000;
}
.ce-settings__button.ce-settings__button--delete.ce-settings__button--confirm {
  border-color: $red !important;

  > svg {
    fill: $red !important;
  }
}

@include popup(
  ".ce-toolbox",
  ".ce-toolbox__button",
  ".ce-toolbox__button:hover, .ce-toolbox__button--active"
);

.table-cell {
  background-color: $background;
  border-color: $current-line;
}
