.ce-block__content[data-sources]::after {
  transform: translateY(-0.2em);
  content: "\21E7 References linked to this block";
  color: $current-line;
}

.codeBoxHolder > div.codeBoxTextArea * {
  font-family: $monospace-font !important;
}

.ce-block__content {
  padding: #{$padding * 0.25} #{$padding * 2};
  min-height: #{$font-size + $padding * 4};
}

.ce-block--selected .ce-block__content {
  background-color: $current-line;
  border-radius: $rad;
}

.ce-toolbar__settings-btn,
.ce-toolbar__plus {
  background-color: transparent !important;

  &:not(:hover) {
    svg {
      fill: $current-line !important;
    }
  }

  &:hover {
    svg {
      fill: $purple !important;
    }
  }
}

@mixin popup($container, $button, $button-hover, $button-active: ".never") {
  #{$container} {
    background-color: $current-line !important;
    border: {
      width: 2px !important;
      style: solid !important;
      color: $background !important;
      radius: $rad !important;
    }

    * {
      color: $foreground;
    }

    #{$button} {
      background-color: $current-line !important;
      border: {
        width: 2px !important;
        style: solid !important;
        color: transparent !important;
        radius: $rad !important;
      }
      color: $background;

      * {
        color: $background;
      }

      svg {
        fill: $background !important;
      }

      transition: border $timing ease-out, background $timing ease-out;
    }

    #{$button-hover} {
      background-color: $background !important;
      border: {
        width: 2px !important;
        style: solid !important;
        color: $purple !important;
        radius: $rad !important;
      }
      color: $purple !important;

      * {
        color: $purple !important;
      }

      svg {
        fill: $purple !important;
      }
    }

    #{$button-active} {
      color: $green !important;

      * {
        color: $green !important;
      }

      svg {
        fill: $green !important;
      }
    }
  }
}

@include popup(
  ".ce-settings",
  ".cdx-settings-button, .ce-settings__button",
  ".cdx-settings-button:hover, .ce-settings__button--focused, .ce-settings__button:hover",
  ".cdx-settings-button--active"
);
.ce-settings--opened {
  z-index: 1000;
}
.ce-settings__button.ce-settings__button--delete.ce-settings__button--confirm {
  border-color: $red !important;

  > svg {
    fill: $red !important;
  }
}

@include popup(
  ".ce-toolbox",
  ".ce-toolbox__button",
  ".ce-toolbox__button:hover, .ce-toolbox__button--active"
);

@include popup(
  ".ce-inline-toolbar",
  ".ce-inline-tool, .ce-inline-toolbar__dropdown",
  ".ce-inline-tool--focused, .ce-inline-tool:hover"
);

@include popup(
  ".ce-conversion-toolbar",
  ".ce-conversion-tool",
  ".ce-conversion-tool--focused, .ce-conversion-tool:hover"
);

.ce-conversion-tool__icon {
  background: unset !important;
  border: unset !important;
}

.table-cell {
  background-color: $background;
  border-color: $current-line;
}

.ce-toc {
  &::before {
    content: 'Table of Contents: "';
  }

  &::after {
    content: '"';
  }
}

.ce-references {
  &::before {
    content: 'References: "';
  }

  &::after {
    content: '"';
  }
}

.ce-toc,
.ce-references {
  &::before,
  &::after {
    color: rgba($foreground, 0.5) !important;
  }
  text-decoration: underline dotted rgba($foreground, 0.5) 1px !important;
}

.codeBoxSelectDiv {
  border: {
    width: 2px;
    style: solid;
    radius: $rad;
  }

  &:not(:hover) {
    border-color: $current-line;
  }

  &:hover {
    border-color: $purple;
  }

  .codeBoxSelectInput,
  .codeBoxSelectDropIcon {
    background-color: transparent;
  }

  .codeBoxSelectPreview {
    background-color: $darker;
    border: {
      width: 2px;
      style: solid;
      color: $current-line;
      // radius: $rad;
    }

    .codeBoxSelectItem {
      &:not(:hover) {
        background-color: $darker;
      }

      &:hover {
        background-color: $current-line;
        color: white !important;
        opacity: 1 !important;
      }
    }
  }
}

.formatting-signs .codex-editor {
  *[contenteditable="true"],
  *[contenteditable="true"] * {
    font-family: "Noto Sans WhiteSpace", $default-font !important;

    &:before,
    &:after {
      font-family: $default-font !important;
    }
  }

  .ce-block:not(.last-block) {
    .ce-header::after,
    .ce-paragraph::after {
      content: "¶";
      color: $foreground;
      position: relative;
      display: inline !important;
    }

    .ce-block__content {
      h1.ce-header::before,
      h2.ce-header::before,
      h3.ce-header::before,
      h4.ce-header::before,
      h5.ce-header::before,
      h6.ce-header::before,
      .cdx-simple-image::before,
      .ce-paragraph::before {
        font-weight: lighter;
        text-decoration: none;
        font-style: normal;
        height: 0;
        overflow: visible;
        color: $foreground;
        opacity: 0.5;
        display: block;
        font-size: $font-size;
        transform: translate(calc(-100% - 1em), 0);
      }

      h1.ce-header::before {
        content: "H1/Title";
      }

      h2.ce-header::before {
        content: "H2";
      }

      h3.ce-header::before {
        content: "H3";
      }

      h4.ce-header::before {
        content: "H4";
      }

      h5.ce-header::before {
        content: "H5";
      }

      h6.ce-header::before {
        content: "H6";
      }
    }
  }
}

.ct,
.ct__content {
  border-radius: $rad !important;
  background-color: rgba(17, 17, 17, 0.9) !important;
}
