.select-source-ui,
.register-source-ui {
  @include alert-back;

  > form {
    @include alert-form;
  }

  > form,
  > form > ul {
    display: flex;
    flex-direction: column;
    gap: $padding;
    max-height: 50vh;
    overflow-y: auto;

    > * {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: $padding;

      .edit {
        mask: {
          image: url(../image/edit_black.svg);
          repeat: no-repeat;
          size: contain;
          position: center;
        }
        // transition: background-color $timing ease-out;
        cursor: pointer;
        width: 1em;
        height: 1em;

        &:not(:hover) {
          background-color: $foreground;
        }

        &:hover {
          background-color: $cyan;
        }
      }
    }
  }

  label {
    padding: 0 #{$padding * 2};
    font-size: $font-size;
    color: $foreground;
    cursor: pointer;

    input {
      background-color: $darker;
      border-radius: #{$rad * 0.5};
      color: $foreground;
      font-size: $font-size;
      padding: 4px 8px;
    }
  }
}

.register-source-ui {
  z-index: 101;

  form::before {
    content: "Add new source";
    font-weight: bold;
    @include gradient-text;
    width: 100%;
    text-align: center;
  }
}

.select-source-ui {
  z-index: 100;
  ul::before {
    content: "Select a source";
    font-weight: bold;
    @include gradient-text;
    width: 100%;
    text-align: center;
  }
}
