.ce-block {
  &.ce-block--selected {
    > .ce-block__content {
      background-color: $current-line;
    }
  }

  > .ce-block__content {
    * {
      color: $foreground;
    }
  }

  > .ce-block__content[data-sources]::after {
    transform: translateY(-0.2em);
    content: "\21E7 References linked to this block";
    color: $current-line;
  }

  .tc-popover.tc-popover--opened {
    background-color: $background;

    .tc-popover__item {
      &:not(:hover) {
        background-color: $background !important;

        svg,
        svg * {
          fill: $background !important;
        }
      }
      &:hover {
        background-color: $current-line !important;

        svg,
        svg * {
          fill: $current-line !important;
        }
      }
    }
  }

  .tc-cell {
    background-color: $background;

    &.tc-cell--selected {
      background-color: $current-line !important;
    }
  }

  .tc-toolbox__toggler {
    > svg {
      > rect:first-child {
        fill: $current-line !important;
      }
    }

    &:not(:hover) {
      > svg {
        > circle {
          fill: $background;
        }
      }
    }
    &:hover {
      > svg {
        > circle {
          fill: $purple;
        }
      }
    }
  }
}

.ce-toolbar--opened {
  background-color: $background;
}

.ce-toolbox--opened,
.ce-toolbar__settings-btn,
.ce-toolbar__plus {
  background-color: $current-line !important;
  border-radius: $rad !important;

  &:not(:hover) > svg {
    fill: $background !important;
  }
  &:hover > svg {
    fill: $purple !important;
  }
}

.tc-add-row,
.tc-add-column {
  &:not(:hover) {
    background-color: $background !important;

    > svg {
      fill: $foreground !important;
    }
  }

  &:hover {
    background-color: $current-line !important;
  }
  &::before,
  &::after {
    background-color: transparent !important;
  }

  &:hover > svg {
    fill: $purple !important;
  }
}

.ce-toolbox__button:not(.ce-toolbox__button--active, :hover) {
  &:not(:hover) > svg {
    fill: $background !important;
  }
}
.ce-toolbox__button {
  &.ce-toolbox__button--active,
  &:hover {
    > svg {
      fill: $purple !important;
    }
  }
}

.ce-settings__button:not(:hover) > svg,
.cdx-settings-button:not(.cdx-settings-button--active, :hover) > svg {
  fill: $background !important;
}
.ce-settings__button,
.cdx-settings-button {
  &.cdx-settings-button--active,
  &:hover {
    > svg {
      fill: $purple !important;
    }
  }
}

.ce-settings__button--confirm {
  &:not(:hover) {
    background-color: transparent !important;
    > svg {
      fill: $red !important;
    }
  }

  &:hover {
    background-color: $red !important;
    > svg {
      fill: $foreground !important;
    }
  }
}

.tc-table,
.tc-table *,
.tc-add-column,
.tc-add-row,
.ce-toolbar--opened {
  border-color: $foreground !important;
}

.ce-toc {
  &::before {
    content: 'Table of Contents: "';
  }

  &::after {
    content: '"';
  }
}

.ce-references {
  &::before {
    content: 'References: "';
  }

  &::after {
    content: '"';
  }
}

.ce-toc,
.ce-references {
  &::before,
  &::after {
    color: rgba($foreground, 0.5) !important;
  }
  text-decoration: underline dotted rgba($foreground, 0.5) 1px !important;
}

@import "editor-sources";
