@use "sass:math";

@import "theme";
@import "tableOfContents";

$gap: 4px;

main {
  height: calc(100vh - #{2 * $gap});
  width: calc(100vw - #{2 * $gap});
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: $gap;
  margin: $gap;
  grid-auto-flow: row;

  > *:not(#nav, #sources, #code, #display) {
    display: none !important;
  }

  > * {
    height: 100%;
    overflow-y: auto;
    margin: 0;
    border-radius: $radius;
  }

  > #nav {
    grid-area: nav;

    @for $i from 1 through 6 {
      > * {
        cursor: pointer;

        &.h#{$i} {
          font-size: #{24 - $i * 2}px;
          font-weight: #{max(100, 800 - $i * 200)} !important;
        }
      }
    }
  }

  > #sources,
  > #nav {
    padding: 0;
    user-select: none;
    list-style-type: none;

    > * {
      @include clickable;
      width: 100%;
      min-width: 100px;
      padding: 2px 8px;
    }
  }

  > #sources {
    grid-area: sources;
  }

  > #code {
    padding: 0.5em;
    grid-area: code;
    resize: none !important;
    font-family: "JetBrains Mono", monospace !important;
  }

  > #display {
    padding: 0.5em;
    grid-area: display;

    * {
      white-space: normal;
      max-width: 100%;
    }

    code,
    code * {
      font-family: "JetBrains Mono", monospace !important;
    }
  }
}

body[view-mode="both"] > main {
  grid-template-columns: auto 1fr 1fr;
  grid-template-areas:
    "nav code display"
    "sources code display";
}

body[view-mode="code"] > main {
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "nav code"
    "sources code";

  > #display {
    display: none;
  }
}

body[view-mode="display"] > main {
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "nav display"
    "sources display";

  > #code {
    display: none;
  }
}
