@use "sass:math";

@import "theme";

$gap: 4px;

main {
  height: calc(100vh - #{2 * $gap});
  width: calc(100vw - #{2 * $gap});
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  gap: $gap;
  margin: $gap;
  grid-auto-flow: row;

  > *:not(#nav, #sources, #code, #display, #statistics) {
    display: none !important;
  }

  > * {
    height: 100%;
    overflow-y: auto;
    margin: 0;
    border-radius: $radius;
  }

  > #nav {
    grid-area: nav;

    @for $i from 1 through 6 {
      > * {
        cursor: pointer;

        &.h#{$i} {
          font-size: #{18 - $i}px;
          font-weight: #{max(100, 800 - $i * 200)} !important;
        }
      }
    }
  }

  > #sources,
  > #nav {
    padding: 0;
    user-select: none;
    list-style-type: none;

    > * {
      @include clickable;
      width: 100%;
      min-width: 100px;
      padding: 2px 8px;
    }
  }

  > #sources {
    grid-area: sources;
  }

  > #code {
    padding: 0.5em;
    grid-area: code;
    resize: none !important;
    font-family: "JetBrainsMono", "SFMono-Regular", Consolas, "Liberation Mono",
      monospace !important;
  }

  > #statistics {
    user-select: none;
    grid-area: statistics;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 $gap;
    gap: 32px;
    font-size: 0.8em;
    > * {
      background-color: transparent;
    }
    > .clickable {
      @include clickable;
    }
    > #repeat-tutorial {
      cursor: help !important;
    }
  }

  > #display {
    padding: 0.5em;
    grid-area: display;

    * {
      white-space: normal;
      max-width: 100%;
    }

    code,
    code * {
      font-family: "JetBrainsMono", "SFMono-Regular", Consolas,
        "Liberation Mono", monospace !important;
    }
  }
}

body[view-mode="both"] > main {
  grid-template-columns: auto 1fr 1fr;
  grid-template-areas:
    "nav code display"
    "sources code display"
    "statistics statistics statistics";
}

body[view-mode="code"] > main {
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "nav code"
    "sources code"
    "statistics statistics";

  > #display {
    display: none;
  }
}

body[view-mode="display"] > main {
  grid-template-columns: auto 1fr;
  grid-template-areas: "nav display" "nav display" "statistics statistics";

  > #code,
  > #sources,
  > #statistics > #cursor {
    display: none;
  }
}
