@import "theme";
#display {
  .title {
    font-size: 36px;
    font-weight: 800;
  }

  #toc {
    @for $i from 1 through 6 {
      .h#{$i},
      .h#{$i} * {
        font-size: #{32 - $i * 2}px !important;
        font-weight: #{max(100, 800 - $i * 200)} !important;
      }

      a {
        color: var(--foreground) !important;
        text-decoration: none;
      }
    }
  }
}
