$darker: #14141b;
$background: #282a36;
$current-line: #44475a;
$foreground: #f8f8f2;
$comment: #6272a4;
$cyan: #8be9fd;
$blue: #058cf1;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$indigo: #9580ff;
$red: #ff5555;
$yellow: #f1fa8c;

$gradient: linear-gradient(180deg, #9580ff, #80ffea);

$rad: 0.5rem;
$padding: 8px;

$timing: 0.2s;

$default-font: "NotoSans", "Segoe UI", sans-serif;
$monospace-font: "JetBrainsMono", "SFMono-Regular", monospace;
