$darker: #14141b;
$background: #22212c;
$current-line: #44475a;
$card: rgb(29, 30, 38);
$foreground: #f8f8f2;
$comment: #6272a4;
$cyan: #8be9fd;
$blue: #058cf1;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$indigo: #9580ff;
$red: #ff5555;
$yellow: #f1fa8c;

$font-size: 14px;

$gradient-degree: 135deg;

$gradient-blue: linear-gradient($gradient-degree, $purple, $cyan);

$rad: 0.5rem;
$padding: 10px;

$timing: 0.2s;

$default-font: "Noto Sans", "Segoe UI", "Noto Sans Emoji", sans-serif;
$monospace-font: "JetBrainsMono", "SFMono-Regular", monospace;

@mixin alert-back {
  * {
    padding: 0;
    margin: 0;
  }

  pointer-events: all;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 50;
}

@mixin alert-form {
  position: fixed;
  top: 50vh;
  left: 50vw;
  min-width: fit-content;
  height: fit-content;
  width: 33.333vw;
  transform: translate(-50%, -50%);
  background-color: $card;
  border: {
    width: 1px;
    style: solid;
    color: $background;
    radius: #{$rad * 2};
  }
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: $padding;
  gap: $padding;
}

@mixin gradient-text {
  background-clip: text;
  color: transparent;
  background-image: $gradient-blue;
}
