$background: #22212c;
$current-line: #44475a;
$foreground: #f8f8f2;
$comment: #6272a4;
$cyan: #8be9fd;
$blue: #058cf1;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$indigo: #9580ff;
$red: #ff5555;
$yellow: #f1fa8c;

$font-size: 14px;

$gradient-degree: 135deg;

$gradient-blue: linear-gradient($gradient-degree, $purple, $cyan);

$rad: 8px;
$padding: 10px;
$padding-2: 6px;

$timing: 200ms;

$default-font: "Noto Sans", "Segoe UI", "Noto Sans Emoji", sans-serif;
$monospace-font: "JetBrainsMono", "SFMono-Regular", monospace;

@mixin gradient-text {
  background-clip: text;
  color: transparent;
  background-image: $gradient-blue;
}
