$toolbar-height: 42px;

#toolbar {
  $toolbar-padding: 5px;
  height: $toolbar-height;
  width: 100vw;
  padding: $toolbar-padding;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: $darker;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  z-index: 10;

  > #document-name {
    font-size: #{$toolbar-height - $toolbar-padding * 4};
    color: $foreground;
    width: fit-content;
    background-color: transparent;
  }

  > span {
    height: #{$toolbar-height - $toolbar-padding * 2};
    width: #{$toolbar-height - $toolbar-padding * 2};
    mask: {
      repeat: no-repeat;
      size: contain;
      position: center;
    }
    cursor: pointer;
    transition: background-image $timing ease-out;

    &:not(:hover) {
      background-image: linear-gradient(140deg, $background, $background);
    }

    &#preview-pdf {
      mask-image: url(../image/file-earmark-pdf.svg);

      &:hover {
        background-image: linear-gradient(140deg, $orange, $red);
      }
    }

    &#download-pdf {
      mask-image: url(../image/file-earmark-arrow-down.svg);

      &:hover {
        background-image: linear-gradient(140deg, $red, $purple);
      }
    }

    &#download {
      mask-image: url(../image/save.svg);

      &:hover {
        background-image: linear-gradient(140deg, $cyan, $green);
      }
    }

    &#open {
      mask-image: url(../image/file_open.svg);

      &:hover {
        background-image: linear-gradient(140deg, $blue, $indigo);
      }
    }

    &#formatting-markers {
      mask-image: url(../image/paragraph.svg);

      &:hover {
        background-image: linear-gradient(140deg, $purple, $pink);
      }
    }
  }
}

#editor {
  margin-top: #{$toolbar-height + 64px};
}

.open-file {
  @include alert-back;

  > * {
    @include alert-form;
    z-index: 100;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: $padding;
    grid-template-areas:
      "recent"
      "ctrl";

    .recent {
      &::before {
        content: "Open Document";
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: #282a36;
      }

      grid-area: recent;
      display: flex;
      flex-direction: column;
      gap: $padding;
      max-height: 50vh;
      overflow-y: auto;
      > * {
        padding: 0 $padding;
        list-style: none;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }
    }

    .ctrl {
      grid-area: ctrl;
    }
  }
}
