@import "_theme";

.tutorial {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../image/doc.svg);
  background-position: 75% bottom;
  background-repeat: no-repeat;
  background-size: 25%;
  z-index: 10000;

  > * {
    position: fixed;
    top: 50vh;
    left: 50vw;
    width: max-content;
    max-width: 50vw;
    height: max-content;
    padding: $gap;
    transform: translate(-50%, -100%);
    background-color: $background;
    color: $foreground;
    z-index: 10001;
    border: {
      width: 1px;
      style: solid;
      color: $foreground;
      radius: $radius;
    }
  }
}

.tutorial-next {
  position: fixed;
  top: 55vh;
  left: 50vw;
  transform: translateX(-50%);
  width: max-content;
  background-color: $foreground;
  color: $background;
  z-index: 10002;
  padding: $gap;
  @include clickable;
  border-radius: $radius;
}
