// NotoSans
@font-face {
  font-family: "NotoSansEmoji";
  src: url("../font/Noto_Sans/NotoColorEmoji.otf") format("opentype");
}
@font-face {
  font-family: "NotoSans";
  src: url("../font/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("../font/Noto_Sans/NotoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("../font/Noto_Sans/NotoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "NotoSans";
  src: url("../font/Noto_Sans/NotoSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

// JetBrainsMono
@font-face {
  font-family: "JetBrainsMono";
  src: url("../font/JetBrainsMono/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("../font/JetBrainsMono/JetBrainsMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("../font/JetBrainsMono/JetBrainsMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("../font/JetBrainsMono/JetBrainsMono-BoldItalic.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}
