@import "theme";

body:after {
  content: " ";
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999999;
  background-image: url(../image/icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25vmin;
  user-select: none;
}

* {
  background-color: $background;
  pointer-events: none;
}

body * {
  display: none;
}
