@import "../../node_modules/normalize.css/normalize.css";
@import "theme";
@import "fonts";

* {
  outline: none;
}

* {
  font-family: $default-font;
  color: $foreground;
}

:root {
  background-color: $background;
}

pre,
code {
  font-family: $monospace-font;
}

@import "tooltip";
@import "editor";
