@import "theme";

*:not(hr),
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
  border: none;
}

:root,
body,
main {
  padding: 0;
  margin: 0;
  background-color: $background;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  position: relative;

  font-family: $default-font;

  color-scheme: dark !important;
}

::selection {
  background-color: $current-line;
}

:root,
body {
  overflow-x: hidden;
}

@import "toolbar";
@import "editor";
@import "hljs-dracula";
@import "rendering";
