*:not(hr),
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
  border: none;
}

:root,
body,
main {
  padding: 0;
  margin: 0;
}

* {
  position: relative;

  font-family: "NotoSans", "Segoe UI", Roboto, sans-serif;
}

:root {
  overflow-x: hidden;
}

@import "main";
@import "alert";
@import "dark-light-mode";
@import "scrollbar";
@import "syntax";
@import "tutorial";
